.groceryList{
    width: 95%;
    height: 400px;
    background-color: aqua;
    display: grid;
    grid-template-columns: auto;
    margin-top: 20px;
}
.groceryList > button{
    width: 50%;
    height: 50px;
    margin: auto;
}
.groceryList >img{
    width: 100%;
    height: 200px;
}